footer {
    background-color: #000000;
    /* position: absolute; */
    margin: 0 auto;
    height: 80px;
}

.footer-container {
    /* display: flex; */
    /* justify-content: center; */
    height: 80px;
    text-align: left;
}