/* sidenav */
/* .home-sidenav-content {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
} */
  
.home-sidenav {
    /* padding-top: 20%; */
    /* width: 300px; */
    display: flex;
    flex-direction: column;
    width: 250px;
    padding-top: 200px;
    box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.home-sidenav a {
    color: cornflowerblue;
    text-align: left;
    padding-left: 50px; 
    
}

