/* sidenav */
.example-sidenav-content {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.example-sidenav {
    /* padding-top: 20%; */
    /* width: 300px; */
    display: flex;
    flex-direction: column;
    width: 250px;
    padding-top: 200px;
}

.example-sidenav a {
    color: cornflowerblue;
    text-align: left;
    padding-left: 50px; 
    
}

