/* blog */
#blog-content {
    display: flex;
    overflow: auto;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
}

.mat-card-actions {
    display: inline-flex;
}

/* sidenav */
.blog-sidenav {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding-top: 200px;
}


.blog-sidenav a {
    color: cornflowerblue;
    text-align: left;
    padding-left: 50px; 
}

app-footer {
    position: absolute;
    bottom: 0;
    background-color: black;
}
