<app-contact></app-contact>
<md-sidenav-container class='example-container'>
    <md-sidenav #sidenav class="example-sidenav" mode='over' (close)="onClose()">
        <a md-button [routerLink]='["/home"]' (click)="clickLabel()">Home</a>
        <a md-button [routerLink]='["/blog"]' (click)="clickLabel()">Blog</a>
        <a md-button [routerLink]='["/board"]' (click)="clickLabel()">Board</a>
    </md-sidenav>
    <app-menu></app-menu>
    <app-login></app-login>
    <blog-header></blog-header>
    <blog-content></blog-content>
</md-sidenav-container>