<app-contact></app-contact>
<md-sidenav-container id='blog-content'>
    <md-sidenav #sidenav class="blog-sidenav" [mode]='mode' (window:resize)="setMode($event)" (close)="onClose()">
        <a md-button [routerLink]='["/home"]' (click)="clickLabel()">Home</a>
        <a md-button [routerLink]='["/blog"]' (click)="clickLabel()">Blog</a>
        <!-- <a md-button [routerLink]='["/board"]'>Board</a> -->
    </md-sidenav>
    <app-menu></app-menu>
    <app-login></app-login>
    <blog-header></blog-header>
    <blog-tools></blog-tools>
    <router-outlet></router-outlet>
</md-sidenav-container>