/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
/* @import "./theme.scss"; */
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Merriweather', serif;
}

body .blog-brief p:first-child {
    /* flex: 1 1 100%; */
    width: 100%;
    /* word-wrap: break-word; */
    overflow: hidden;
    text-overflow: ellipsis;
}

.article-content img{
    width: 100%;
}