img {
    width: 115px;
    height: 115px;
    /* min-width: 14px;
    min-height: 14px; */
    border-radius: 50%;
}

.portrait-wrapper {
    position: relative;
    margin: 0 auto;
    margin-top: -9vh;
    width: 120px;
    height: 120px;
    /* min-width: 15px;
    min-height: 15px; */
    background-color: silver;
    border-radius: 50%;
    z-index: 1px;
    border: 1px solid black;
    /* for center the inner part */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.portrait-wrapper:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}