<div id="menu" (click)="toggleMenu()" [class.toggled]="menuToggle === true">
    <ul>
        <li>
            <a href="#">
                <span class="line l1"></span>
                <span class="line l2"></span>
                <span class="line l3"></span>
                <span class="line l4"></span>
			</a>
        </li>
    </ul>
</div>

<div id="full-screen-nav" class="panel" [class.active]="menuToggle === true">
    <nav id="nav">
        <ul>
            <li>
                <a href="#">Home
                    <span class="desc">
                    </span>
                </a>
            </li>
            <li>
                <a routerLink="/blog" routerLinkActive="active">Blog
                    <span class="desc">
                        Enjoy Struggling with Life
                    </span>
                </a>
            </li>
            <li>
                <a href="#">Musics
                    <span class="desc">
                        Enjoy Musics
                    </span>
                </a>
            </li>
            <li>
                <a href="#">Notes
                    <span class="desc">
                        Share Ideas
                    </span>
                </a>
            </li>
        </ul>
    </nav>
</div>