/* .popup {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: grey; 
} */

.editor-button {
    display: flex;
    margin-top: 20px;
    position: relative;
    /* background-color: grey; */
}
.spacer {
    flex: 1 1 auto;
}

/* #editor {
    height: 320px;
} */
