.popup {
    height: 500px;
    display: flex;
    flex-direction: column;
}

.editor-container {
    /* display: flex; */
    height: 400px;
}
.editor-button {
    display: flex;
    margin-top: 5px;
    position: relative;
    /* border: 1px, black, solid; */
    /* background-color: grey; */
}
.spacer {
    flex: 1 1 auto;
}

quill-editor {
    height: 320px;
}
