<div id="blog-content">
    <ul>
        <li *ngFor="let article of articles">
            <md-card class="blog-card" role="group">
                <md-card-header>
                    <md-card-title>Shiba Inu</md-card-title>
                    <md-card-subtitle>Dog Breed</md-card-subtitle>
                </md-card-header>
                <md-card-content [innerHTML]='article.content'>
                </md-card-content>
                <md-card-actions>
                    <button md-button>LIKE</button>
                    <button md-button>SHARE</button>
                </md-card-actions>
            </md-card>
        </li>
    </ul>
</div>