<div id="blog-content">
    <ul>
        <li *ngFor="let article of choosedArticles">
            <mat-card class="blog-card" role="group">
                <mat-card-header>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content [innerHTML]='article.content | safeHtml'>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </li>
    </ul>
    <mat-paginator [length]="length" [(pageSize)]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onChange($event)"></mat-paginator>
</div>
